extends layout

block content
  h1= title
  form(method="post")
    input#add-show-text(type="text")
    input#add-show(type="submit", value="Add Show")
  span Filters:
    ul#filters
  p#date
  p#notification
  ul#list