extends layout

block content
  h1= title
  form(method="post")
    input#add-show-text(type="text")
    input#add-show(type="submit", value="Add Show")
  span Filters:
    ul#filters
  p#date
  p#notification It looks like you have no filters added
  p#error.hide Error retrieving data from server
  ul#list