extends layout

block content
  h1= title
  form(method="post")
    input#add-show-text(type="text")
    input#add-show(type="submit", value="Add Show")
  div
    button#clear-filters Clear All Filters
  span Filters:
    ul#filters
  p#date
  p#error.hide
  ul#list